* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******** 
common 
********/
body {

    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

h1 {

    font-size: 2rem;
    color: #FF9614;
    font-family: 'Nerko One', cursive;
}

h2 {

    font-size: 1rem;
    color: #4E3969;
    margin-bottom: 20px;
}

h3 {

    margin-bottom: 30px;
}

.text-center {

    text-align: center;
}

.text-uppercase {

    text-transform: uppercase;
}

.hidden-text {

    display: none;
}

.bold-text {

    font-weight: bold;
}

/******** 
header 
********/
header {

    padding: 20px;
}

/******** 
main 
********/
main {

    background-color: #F6F5F3;
    padding: 30px 25px;
}

/* food section name */
.food-section-name {

    color: #999999;
    font-size: 0.5rem;
    margin-bottom: 10px;
}

/*** recipe highlight container ***/

.recipe-highlight-container img {

    width: 100%;
    display: block;
}

.recipe-info-container {

    background-color: #FFFFFF;
    padding: 35px 30px 50px;
}

.recipe-info-container ul {

    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/******** 
footer 
********/

/******** 
responsive 
********/

/* tablet size */
@media screen and (min-width: 768px) {

    header {

        padding: 25px 20px;
    }

    main {

        padding: 70px 65px;
    }

    h1 {

        font-size: 2.25rem;
    }

    h2 {

        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    .text-center {

        text-align: start;
    }

    /* food section name */
    .food-section-name {

        margin-bottom: 15px;
    }

    /* recipe name */
    .hidden-text {

        display: inline;
    }
}

/* desktop size */
@media screen and (min-width: 992px) {

    header {

        padding: 30px 25px;
    }

    main {

        padding: 85px 370px;
    }

    h1 {

        font-size: 2.5rem;
    }

    h2 {

        font-size: 2rem;
        margin-bottom: 30px;
    }

    /* food section name */
    .food-section-name {

        font-size: 0.75rem;
        margin-bottom: 20px;
    }
}