* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******** 
common 
********/
body {

    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

h1 {

    font-size: 2rem;
    color: #FF9614;
    font-family: 'Nerko One', cursive;
}

h2 {

    font-size: 1rem;
    color: #4E3969;
    margin-bottom: 30px;
}

.text-center {

    text-align: center;
}

.text-uppercase {

    text-transform: uppercase;
}

/******** 
header 
********/
header {

    padding: 20px;
}

/******** 
main 
********/
main {

    background-color: #F6F5F3;
    padding: 30px 25px;
}

/* food section name */
.food-section-name {

    color: #999999;
    font-size: 0.5rem;
}

/******** 
footer 
********/

/******** 
responsive 
********/

/* tablet size */
@media screen and (min-width: 768px) {

    header {

        padding: 25px 20px;
    }

    h1 {

        font-size: 2.25rem;
    }

    .text-center {

        text-align: start;
    }
}

/* desktop size */
@media screen and (min-width: 992px) {

    header {

        padding: 30px 25px;
    }

    h1 {

        font-size: 2.5rem;
    }
}